* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
=======
  color: #566885;
>>>>>>> e7d6e0627e9bd7588e0fe3271f0b87fb0d4fe504
}

body {
  background-color: #E9E6E6;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
<<<<<<< HEAD
  width: 1145px;
=======
  width: 1150px;
>>>>>>> e7d6e0627e9bd7588e0fe3271f0b87fb0d4fe504
  display: flex;
  flex-direction: column;
}